<a href="https://colab.research.google.com/github/Manojpatil123/Machine-learning-Assignments/blob/main/Assignment_Solution_Regularized_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> The Boston Housing Dataset is a derived from information collected by the U.S. Census Service concerning housing in the area of Boston MA. The following describes the dataset columns:

* CRIM - per capita crime rate by town
* ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
* INDUS - proportion of non-retail business acres per town.
* CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
* NOX - nitric oxides concentration (parts per 10 million)
* RM - average number of rooms per dwelling
* AGE - proportion of owner-occupied units built prior to 1940
* DIS - weighted distances to five Boston employment centres
* RAD - index of accessibility to radial highways
* TAX - full-value property-tax rate per \$10,000
* PTRATIO - pupil-teacher ratio by town
* B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
* LSTAT - % lower status of the population
* MEDV - Median value of owner-occupied homes in $1000's

## <b>MEDV is the dependent variable.

In [273]:
%pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.20.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [274]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline
from mlxtend.evaluate import bias_variance_decomp

In [275]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [276]:
path='/content/drive/MyDrive/data/housing.csv'
df=pd.read_csv(path,delimiter = '\s+',header = None,names=['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black','lstat','medv',])

In [277]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [278]:
dependent_variable = 'medv'
independent_variables = list(set(df.columns.tolist()) - {dependent_variable})

In [279]:
independent_variables

['dis',
 'indus',
 'rm',
 'tax',
 'black',
 'age',
 'zn',
 'crim',
 'rad',
 'lstat',
 'nox',
 'ptratio',
 'chas']

cheking var and bias

In [280]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [281]:
X_train,X_test, Y_train, Y_test= train_test_split(x, y, test_size = 0.2,random_state=1)

In [282]:
model = LinearRegression()

In [309]:
 mse,bias, var = bias_variance_decomp(model, X_train,Y_train,X_test,Y_test,loss='mse',num_rounds=200, random_seed=1 )

In [310]:
print("mean squared error ", mse)
print("var ", var)
print("bias:", bias)

mean squared error  24.288477369233203
var  1.0917328984236099
bias: 23.196744470809602

var is very low and bias is too much high so its under fitting

regularization in machine learning

In [285]:
# Transforming data
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [286]:
# Fitting Multiple Linear Regression to the Training set
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [287]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [288]:
mean_squared_error(Y_test, y_pred)

23.380836480270194

In [289]:
r2_score(Y_test, y_pred)

0.7634174432138475

In [290]:
#putting togetrher the coefficient and their corresponding variable name
coef_of_model=pd.DataFrame()
coef_of_model["columns"]=['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black','lstat']
coef_of_model["coefficient estimate"]=pd.Series(regressor.coef_)
coef_of_model

    columns  coefficient estimate
0      crim             -9.999046
1        zn              5.805871
2     indus              0.500843
3      chas              2.129978
4       nox             -9.516415
5        rm             16.155214
6       age              0.432353
7       dis            -16.500587
8       rad              7.023256
9       tax             -5.828498
10  ptratio             -9.296671
11    black              2.903481
12    lstat            -19.737935

nox has very high coeff its causing high bias and low var we need to reduce it using regularized regression

Ridge regression

In [291]:
from sklearn.linear_model import Ridge

In [292]:
#train model using ridge
ridge1=Ridge(alpha=1,fit_intercept = True)
ridge1.fit(X_train, Y_train)

Ridge(alpha=1)

In [293]:
# Predicting the Test set results
y_pred1 = ridge1.predict(X_test)

In [294]:
mean_squared_error(Y_test, y_pred1)

24.597645436292705

In [295]:
r2_score(Y_test, y_pred1)

0.7511049763703701

In [296]:
#putting togetrher the coefficient and their corresponding variable name
coef_of_Ridgemodel=pd.DataFrame()
coef_of_Ridgemodel["columns"]=['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black','lstat']
coef_of_Ridgemodel["coefficient estimate"]=pd.Series(ridge1.coef_)
coef_of_Ridgemodel

    columns  coefficient estimate
0      crim             -6.983697
1        zn              4.429452
2     indus             -0.526284
3      chas              2.355948
4       nox             -7.392421
5        rm             15.365972
6       age              0.232691
7       dis            -12.679634
8       rad              5.140839
9       tax             -4.244202
10  ptratio             -9.071176
11    black              2.995395
12    lstat            -18.641884

Lasso regression

In [297]:
from sklearn.linear_model import Lasso

In [298]:
#train model using lasso
lasso1=Lasso(alpha=1,fit_intercept = True)
lasso1.fit(X_train, Y_train)

Lasso(alpha=1)

In [299]:
# Predicting the Test set results
y_pred2 = lasso1.predict(X_test)

In [300]:
mean_squared_error(Y_test, y_pred2)

78.23217152229816

In [301]:
r2_score(Y_test, y_pred2)

0.20839585113662118

In [302]:
#putting togetrher the coefficient and their corresponding variable name
coef_of_Ridgemodel=pd.DataFrame()
coef_of_Ridgemodel["columns"]=['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black','lstat']
coef_of_Ridgemodel["coefficient estimate"]=pd.Series(lasso1.coef_)
coef_of_Ridgemodel

    columns  coefficient estimate
0      crim             -0.000000
1        zn              0.000000
2     indus             -0.000000
3      chas              0.000000
4       nox             -0.000000
5        rm              0.000000
6       age             -0.000000
7       dis              0.000000
8       rad             -0.000000
9       tax             -0.826603
10  ptratio             -0.000000
11    black              0.000000
12    lstat             -7.497204

In [311]:
mse,bias, var = bias_variance_decomp(ridge1, X_train,Y_train,X_test,Y_test,loss='mse',num_rounds=60, random_seed=1 )

In [312]:
print("mean squared error ", mse)
print("var ", var)
print("bias:", bias)

mean squared error  25.40374414620793
var  0.7976351269797118
bias: 24.606109019228224