# **SQL**

In [ ]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.0 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## **Introduction**
Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

## **Available Data**

Danny has shared the data design for Foodie-Fi and also short descriptions on each of the database tables - our case study focuses on only 2 tables but there will be a challenge to create a new table for the Foodie-Fi team.

All datasets exist within the foodie_fi database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.


![image.png]()

## **Table 1: plans**
Customers can choose which plans to join Foodie-Fi when they first sign up.

Basic plan customers have limited access and can only stream their videos and is only available monthly at $9.90

Pro plan customers have no watch time limits and are able to download videos for offline viewing. Pro plans start at 19.90 USD a month or 199 USD for an annual subscription.

Customers can sign up to an initial 7 day free trial will automatically continue with the pro monthly subscription plan unless they cancel, downgrade to basic or upgrade to an annual pro plan at any point during the trial.

When customers cancel their Foodie-Fi service - they will have a churn plan record with a null price but their plan will continue until the end of the billing period.

## **Table 2: subscriptions**
Customer subscriptions show the exact date where their specific plan_id starts.

If customers downgrade from a pro plan or cancel their subscription - the higher plan will remain in place until the period is over - the start_date in the subscriptions table will reflect the date that the actual plan changes.

When customers upgrade their account from a basic plan to a pro or annual pro plan - the higher plan will take effect straightaway.

When customers churn - they will keep their access until the end of their current billing period but the start_date will be technically the day they decided to cancel their service.

## **Case Study Questions**

## 1.a. How many customers has Foodie-Fi ever had?

**Expected Output:**

![image.png]()

In [ ]:
# Write Your Code here.
mysql("select count(distinct customer_id) unique_customer from subscriptions")

   unique_customer
0             1000

## 1.b. What is the monthly distribution of trial plan start_date values for our dataset ?

## Use the start of the month as the group by value.

**Expected Output:**

![image.png]()

In [ ]:
# Write Your Code here.
mysql("select month(subscriptions.start_date) month,MONTHNAME(subscriptions.start_date) month_name,count(plan_name) as trail_subscription from subscriptions left join plans on subscriptions.plan_id=plans.plan_id where plan_name='trial' group by month_name order by month  ")

    month month_name  trail_subscription
0       1    January                  88
1       2   February                  68
2       3      March                  94
3       4      April                  81
4       5        May                  88
5       6       June                  79
6       7       July                  89
7       8     August                  88
8       9  September                  87
9      10    October                  79
10     11   November                  75
11     12   December                  84

## 2.a. What plan start_date values occur after the year 2020 for our dataset? 
## Show the breakdown by count of events for each plan_name.

**Expected Output:**

![image.png]()

In [ ]:
# Write Your Code here.
mysql('select plans.plan_id,plans.plan_name, count( subscriptions.start_date) events from plans  left join subscriptions on subscriptions.plan_id=plans.plan_id where subscriptions.start_date > "2020-12-31" group by plans.plan_name order by plans.plan_id')

   plan_id      plan_name  events
0        1  basic monthly       8
1        2    pro monthly      60
2        3     pro annual      63
3        4          churn      71

## 2.b. What is the customer count and percentage of customers who have churned rounded to 1 decimal place?

**Expected Output:**

![image.png]()

In [ ]:
# Write Your Code here.
mysql('select count(*) churn_count, count(*)/10 churn_percentage from plans left join subscriptions on subscriptions.plan_id=plans.plan_id where plans.plan_name="churn"')

   churn_count  churn_percentage
0          307              30.7

## 3. How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?

**Expected Output:**

![image.png]()

In [23]:
mysql('''  WITH ranking AS (
SELECT 
  s.customer_id, 
  s.plan_id, 
  p.plan_name,

  ROW_NUMBER() OVER (
    PARTITION BY s.customer_id 
    ORDER BY s.plan_id) AS plan_rank 
FROM subscriptions s
JOIN plans p
  ON s.plan_id = p.plan_id)
  
SELECT 
  COUNT(*) AS churn_count,
  ROUND(100 * COUNT(*) / (
    SELECT COUNT(DISTINCT customer_id) 
    FROM subscriptions),0) AS churn_percentage
FROM ranking
WHERE plan_id = 4 
  AND plan_rank = 2  ''')

   churn_count  churn_percentage
0           92               9.0

## 4. What is the number and percentage of customer plans after their initial free trial?

**Expected Output:**

![image.png]()

In [30]:
# Write Your Code here.
mysql('''  WITH next_plan_cte AS (
SELECT 
  customer_id, 
  plan_id, 
  LEAD(plan_id, 1) OVER(
    PARTITION BY customer_id 
    ORDER BY plan_id) as next_plan
FROM subscriptions)
SELECT 
  next_plan, 
  COUNT(*) AS conversions,
  ROUND(100 * COUNT(*) / (
    SELECT COUNT(DISTINCT customer_id) 
    FROM subscriptions),1) AS conversion_percentage
FROM next_plan_cte
WHERE next_plan IS NOT NULL 
  AND plan_id = 0
GROUP BY next_plan
ORDER BY next_plan  ''')

   next_plan  conversions  conversion_percentage
0          1          546                   54.6
1          2          325                   32.5
2          3           37                    3.7
3          4           92                    9.2

# **MATH**

## 5. There’s one box — has 12 black and 12 red cards, 2nd box has 24 black and 24 red; if you want to draw 2 cards at random from one of the 2 boxes, which box has the higher probability of getting the same color? Can you tell intuitively why the 2nd box has a higher probability.

in the deck with 12 reds and 12 blacks, there’s now 11 reds and 12 blacks. Therefore your odds of drawing another red are equal to 11/(11+12) or 11/23.

In the deck with 24 reds and 24 blacks, there would then be 23 reds and 24 blacks. Therefore your odds of drawing another red are equal to 23/(23+24) or 23/47.

Since 23/47 > 11/23, the second deck with more cards has a higher probability of getting the same two cards.

## 6. You’re about to get on a plane to Seattle. You want to know if you should bring an umbrella. You call 3 random friends of yours who live there and ask each independently if it’s raining. Each of your friends has a 2/3 chance of telling you the truth and a 1/3 chance of messing with you by lying. All 3 friends tell you that “Yes” it is raining. What is the probability that it’s actually raining in Seattle?
**(Assume the probability of it is raining in London on a given day is 25% )**

P(YYY|rain) = (2/3)^3 = 8/27, and P(YYY|not rain) = (1/3)^3 = 1/27


Bayes Theorem=8/27*1/4/(8/27*1/4+1/27*3/4)

8/9